<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matburt.mobileorg"
    android:versionCode="62"
    android:versionName="0.6.2" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:debuggable="true"
        android:icon="@drawable/logo_72"
        android:label="MobileOrg"
        android:name=".App" >
        <service android:name=".service.DataService" />

        <receiver android:name=".MobileOrgStartupIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity
            android:label="MobileOrg"
            android:name=".ui.FOutlineViewer"
            android:configChanges="keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Capture"
            android:name=".ui.DataEditActivity" 
            android:configChanges="keyboardHidden">
        </activity>
        <activity
            android:label="MobileOrg Settings"
            android:name=".settings.SettingsActivity" >
        </activity>
        <activity
            android:label="Dropbox Authentication"
            android:name=".synchronizers.DropboxAuthActivity" >
        </activity>
        <activity
            android:label="WebDAV Settings"
            android:name=".settings.WebDAVSettingsActivity" >
        </activity>
        <activity
            android:label="SDCard Settings"
            android:name=".settings.SDCardSettingsActivity" >
        </activity>
        <activity
            android:label="Dropbox Settings"
            android:name=".settings.DropboxSettingsActivity" >
        </activity>
        <activity
            android:configChanges="orientation|keyboard"
            android:label="Widget Preferences"
            android:name=".settings.WidgetPreferences" >
            <intent-filter>
                <action android:name=".settings.WidgetPreferences" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|keyboard"
            android:label="Widget Preference"
            android:name=".settings.widget.WidgetConfigActivity" >
        </activity>
        <activity
            android:configChanges="orientation|keyboard"
            android:label="Select outline"
            android:name=".settings.widget.SelectOutlineActivity" >
        </activity>
         <activity
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:name="com.dropbox.client2.android.AuthActivity" >
            <intent-filter >

                <data android:scheme="db-ax8q7hg8dkrk83v" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>